node_modules/
frontend/node_modules/
backend/node_modules/

dist/
frontend/dist/
backend/dist/

data
logs

logs/*
!logs/.gitkeep
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

backups
share

.DS_Store
**/ .DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo